
<nav class="uk-navbar-container" uk-navbar style=" z-index: 1;" uk-sticky="tanimation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
  <div class="uk-navbar-left">

    <ul class="uk-navbar-nav">
      <li class="uk-active"><a routerLink="/dashboard">VxOS Software</a></li>
      <li>
        <a href="#">Usuarios</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a >REGISTRO</a></li>
            <li><a routerLink="/register-user">Registro</a></li>
            <li class="uk-nav-header">Actualizaciones</li>
            <li><a routerLink="/renovar">Renovar</a></li>
            <li><a routerLink="/upgrade">Upgrade</a></li>
            <li class="uk-nav-divider"></li>
            <li><a routerLink="/tracking">Tracking</a></li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li>
        <a>Mi cuenta</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-active"><a href="#">MI CUENTA</a></li>
            <li><a routerLink="/my-profile/{{identity._id}}">Perfil</a></li>
            <li class="uk-nav-header">Sesión</li>
            <li><a (click)="logout()">Cerrar sesión</a></li>
            <li><a routerLink="/register-admin">Registrar usuario</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
