<app-navbar-user></app-navbar-user>

<div class="container">
  <h2>Tu perfil</h2>
  <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      <img src="https://res.cloudinary.com/vxosplatform/image/upload/v1598225785/resources-tlint/Web_1920_1_fpujt5.png" alt="" uk-cover>
      <canvas width="600" height="400"></canvas>
    </div>
    <div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Hola Left</h3>
        <h6>Bienvenido a tu perfil de Tlint, aquí verás algunos detalles de tu perfil</h6>
      </div>
    </div>
  </div>

  <h4>Tu información de usuario</h4>

  <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid style="margin-bottom: 20px">
    <div>
      <div class="uk-tile uk-tile-default border-athens-gray">
        <p class="uk-h4">Nombre de usuario:</p>
        <p class="uk-h4">ID de usuario:</p>
      </div>
    </div>
    <div>
      <div class="uk-tile uk-tile-muted border-athens-gray">
        <p class="uk-h4">Dirección:</p>
        <p class="uk-h4">C.P:</p>
      </div>
    </div>
    <div style="margin-top: 20px">
      <div class="uk-tile uk-tile-primary" style="background: #ff5c5c">
        <p class="uk-h4">Número de teléfono: </p>
      </div>
    </div>
    <div style="margin-top: 20px">
      <div class="uk-tile uk-tile-secondary">
        <p class="uk-h4">Estatus de cuenta: </p>
      </div>
    </div>
  </div>

</div>
