<app-navbar-user></app-navbar-user>

<div>
  <body class="woocommerce woocommerce-cart" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">

  <div id="wrap">

    <main id="content" class="content" style="padding-top: 20px">

      <section>

        <div class="container">
          <div class="row">

            <div class="lqd-column col-md-12">
              <div>
                <div class="uk-tile uk-tile-primary" style="padding-top: 20px; padding-bottom: 20px; background: #ff5c5c">
                  <a class="uk-h4" routerLink="/profile-user/my-shopping">¿No tienes pedidos a seguir?, ve a tus compras</a>
                </div>
              </div>

              <h2>Seguimiento de tus pedidos</h2>

              <form action="#" class="woocommerce-cart-form">

                <table class="shop_table shop_table_responsive cart w-100" cellspacing="0">

                  <thead>
                  <tr>
                    <th class="product-name" colspan="3">Producto(s)</th>
                    <th class="product-price">Precio</th>
                    <th class="product-quantity">Cantidad</th>
                    <th class="product-subtotal">Total</th>
                    <th class="product-remove">Seguimiento</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr class="cart_item" >
                    <td class="product-name" data-title="Product" colspan="3">
												<span class="product-name-inner">
													<a href="/profile-contents/">
														<img style="max-width: 200px; max-height: 200px" src="" alt="Watch">
													</a>
													 <span class="product-info">
														<a href="/profile-contents/"></a>
													</span>
												</span>
                    </td>

                    <td class="product-price" data-title="Price">
												<span  class="amount">
													<span>$</span>
												</span>

                      <span  class="amount">
													<span>POR ACORDAR</span>
												</span>
                    </td>

                    <td class="product-quantity" data-title="Quantity">
                      <p>1</p>
                    </td>

                    <td class="product-subtotal" data-title="Total">
												<span  class="amount">
													<span>$</span>
												</span>

                      <span  class="amount">
													<span>POR ACORDAR</span>
												</span>
                    </td>
                    <td>
                      <a style="background: #ff5c5c" class="uk-badge" href="/profile-user/tracking-user/product">Ir a seguimiento</a>
                    </td>
                  </tr>

                  </tbody>

                </table>

              </form>

            </div><!-- /.lqd-column col-md-12 -->

          </div><!-- /.row -->
        </div><!-- /.container -->

      </section>

    </main><!-- /#content.content -->

  </div><!-- /#wrap -->
  </body>

</div>
