<div class="uk-animation-fade" *ngIf="identity">
  <app-navbar></app-navbar>
  <div>
    <div class="uk-tile uk-tile-primary" style="padding-bottom: 10px!important; padding-top: 20px!important; align-content: center; text-align: center">
      <p class="uk-h4">Upgrade de licencia</p>
      <table class="uk-table uk-table-middle uk-table-divider w-75 mx-auto" style="text-align: left!important;">
        <thead>
        <tr>
          <th >Tipo</th>
          <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>LPU</td>
          <td>Licencia Producto Único</td>
        </tr>
        <tr>
          <td>LCC</td>
          <td>Licencia Creative Cloud</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="w-75 mx-auto uk-overflow-auto" style="margin-top: 15px">
    <nav class="uk-navbar-container border" uk-navbar style="border-radius: 5px">
      <div class="uk-navbar-left">

        <div class="uk-navbar-item">
          <form class="uk-search uk-search-navbar">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" (input)="onSearchChange($event.target.value)" placeholder="Buscar usuario...">
          </form>
        </div>

      </div>
    </nav>

    <p class="uk-h3" style="margin-top: 10px; margin-bottom: 10px; text-align: center">Upgrade de licencia de usuario</p>
    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
      <thead>
      <tr>
        <th>Email usuario</th>
        <th>Licencia</th>
        <th>Upgrade</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i of users">
        <td>{{i.email}}</td>
        <td>{{i.tipoLicencia}}</td>
        <td><button (click)="valueId(LPU.value, i)" *ngIf="i.tipoLicencia == 'Creative Cloud'" style="margin-right: 15px; margin-bottom: 5px" class="uk-button uk-button-danger" type="button" #LPU name="LPU" value="lpu">LPU</button> <button (click)="valueId(LCC.value, i)" #LCC name="LCC" value="lcc" *ngIf="i.tipoLicencia != 'Creative Cloud'" style="margin-bottom: 5px" class="uk-button uk-button-primary" type="button">LCC</button></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<app-login *ngIf="!identity"></app-login>
