<app-navbar-user></app-navbar-user>

<div>
  <div>
    <div class="card-body mx-auto">
      <div>
        <div class="blog-single-cover scheme-light  mx-auto" data-fullheight="true" data-inview="true"
             data-inview-options='{ "onImagesLoaded": true }'
             style="background-color: #ff5c5c; width: 80%; height: 450px">

          <figure class="blog-single-media " data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }'
                  data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
            <img style="width: 200%; height: 200%" src="https://res.cloudinary.com/vxosplatform/image/upload/v1598225785/resources-tlint/Web_1920_1_fpujt5.png" alt="Blog single">
          </figure>

          <div class="blog-single-details">

            <div class="container">
              <div class="row">
                <div class="col-md-6">

                  <header style="margin-top: 50px">
                    <p style="color: white">Progreso de seguimiento:</p>
                    <progress id="js-progressbar" class="uk-progress" value="10" max="100"></progress>
                    <h1 style="color: white">Producto </h1>
                    <div class="post-meta">
                    </div><!-- /.post-meta -->
                  </header><!-- /.blog-single-header -->

                </div><!-- /.col-md-6 -->
              </div><!-- /.row -->
            </div><!-- /.container -->

          </div><!-- /.blog-single-details -->
        </div><!-- /.blog-single-cover -->
      </div>
      <div class="border container mx-auto" style="margin-top: 15px; margin-bottom: 15px">
        <h1 class="uk-text-large" style="text-align: center; margin-top: 30px">Historial de seguimiento de su
          producto/servicio</h1>
        <div class="page">
          <div class="timeline">
            <div class="timeline__group">
              <span class="timeline__year"
                    style="background: #ff5c5c; border-radius: 5px">Datos enviados al negocio</span>
              <div class="timeline__box" style="margin-top: 15px!important;">
                <div class="timeline__date" style="border-radius: 15px; background: #000;">
                  <span class="timeline__day">1</span>
                  <span class="timeline__month">Tlint</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <p>Su pedido ha sido aceptado y esta siendo preparado</p>
                  </div>
                </div>
              </div>
              <div class="timeline__box">
                <div class="timeline__date" style="border-radius: 15px; background: #000;">
                  <span class="timeline__day">2</span>
                  <span class="timeline__month">Tlint</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <p>Su pedido esta preparado</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline__group">
              <span class="timeline__year"
                    style="background: #ff5c5c; border-radius: 5px">Confirmación del cliente</span>
              <div class="timeline__box" style="margin-top: 15px!important;">
                <div class="timeline__date" style="border-radius: 15px; background: #000;">
                  <span class="timeline__day">3</span>
                  <span class="timeline__month">NEG</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <p>Esperando su confirmación para poder recoger el pedido</p>
                    <a class="uk-button uk-button-default" href="#modal-media-vimeo" uk-toggle>Confirmar para recoger
                      producto</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="timeline__group">
              <span class="timeline__year"
                    style="background: #ff5c5c; border-radius: 5px">Pedido/servicio entregado</span>
              <div class="timeline__box" style="margin-top: 15px!important;">
                <div class="timeline__date" style="border-radius: 15px; background: #000;">
                  <span class="timeline__day">4</span>
                  <span class="timeline__month">NEG</span>
                </div>
                <div class="timeline__post">
                  <div class="timeline__content">
                    <p>Su producto o servicio ha sido entregado o realizado con éxito</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
